<%layout('layouts/boilerplate')%>

<div id="cluster-map" class="mb-5"></div>
<div class="container" style="width:95%">
<h3 class="text-muted mb-3" style="margin-left:35px;">All Treks</h3>
    <nav class="navbar navbar-expand-sm navbar-light bg-light py-3 py-md-2">
    <div class="container">
        <ul class="navbar-nav">
            <form action="/treks" method="GET">
                <div class="input-group">
                    <input class="form-control fst-italic" type="text" name="search" placeholder="Search.." autocomplete="off">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pb-0" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <form action="/treks" method="GET">
                        <button class="dropdown-item" name="sortby" value="priceLow">Price: Low to High</button>
                    </form>
                    <form action="/treks" method="GET">
                        <button class="dropdown-item" name="sortby" value="priceHigh" >Price: High to Low</button>
                    </form>
                </div>
            </li>
        </ul>
        
    </div>
  </nav>

    <ul>
        <% for(let trek of treks){%>
            <div class="card mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <%if(trek.images.length){ %>
                            <img class="img-fluid" alt="" src="<%=trek.images[0].url%>">
                            <%}else{%>
                                <img class="img-fluid" alt=""
                                    src="https://res.cloudinary.com/dnkeb5bcx/image/upload/v1637954507/trek-yatra/bves58csb0gkj1g8ehvi.jpg">
                                <%}%>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=trek.title%>
                            </h5>
                            <p class="card-text text-muted">
                                <%=trek.organization%>
                            </p>
                            <p class="card-text">
                                Date: <%=trek.start_date%> to <%=trek.end_date%>
                            </p>
                            <p class="card-text">
                                <p>
                                <%=trek.location%>
                                </p>
                            </p>
                            <p class="card-text ">
                                Rs <%=trek.price%>
                            </p>
                            <a class="btn btn-primary" href="/treks/<%=trek._id%>">View <%=trek.title%></a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <br>
    </ul>
</div>
<script>
  const mapToken='<%-process.env.MAPBOX_TOKEN%>';
  const treks={features:<%- JSON.stringify(treks) %>}
  //const {shorten_text}=require('./new.ejs');
  //document.getElementById("descr").textContent=shorten_text;
</script>
<script src="/clusterMap.js"></script>